button.btn.action-button,
button.btn.action-button:hover,
button.btn.action-button:active,
button.btn.action-button:focus {
    border: 1px solid #ddd !important;
    color: $default-theme-primary-color !important;
    box-shadow: 0px 0px 1px rgba(0,0,0, 0.125);
}


button.btn.action-button {
    background-color: #f5f5f5;
}

button.btn.action-button:hover,
button.btn.action-button:active,
button.btn.action-button:focus {
    background-color: white;
}

button.btn.action-button .fa {
    color: $default-theme-primary-color !important;
}

button.btn.action-button.btn-success .fa {
    color: white !important;
}

.action-button h1,
.action-button h2,
.action-button h3,
.action-button h4,
.action-button h5,
.action-button h6 {
    color: $default-theme-primary-color !important;
}

.action-button.btn-success h1,
.action-button.btn-success h2,
.action-button.btn-success h3,
.action-button.btn-success h4,
.action-button.btn-success h5,
.action-button.btn-success h6 {
    color: white !important;
}

.actions {
    justify-self: flex-end !important;
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
}

.action-button h4,
.action-button h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.actions .btn.action-button + .btn.action-button {
    margin-left: 0.5rem;
}

.actions .btn.action-button:first-child {
    border-radius: 3px !important;
}

.actions button.btn.action-button:last-child {
    border-radius: 3px !important;
}

/* TODO dave media screen sizea should be a variable in all files*/
@media screen and (max-width: 768px) {
    button.btn.action-button, button.btn.action-button:hover,
    button.btn.action-button:active, button.btn.action-button:focus {
        border: none !important;
        color: $default-theme-primary-color !important;
        background-color: transparent;
        left: -15px;
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    .action-buttons .action-button + .action-button {
        margin-top: 0;
    }
}
