/* Override app bundle styles */
html {
    font-size: 100%;
}

body {
    height: auto !important;
}

ul, ol {
    margin: 0;
    padding: 0;
}

input[name=react-star-rating] {
    display: none;
}

/* Outlines suck */
:focus {
    outline: none !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
}
