span.icon {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}
span.icon-instagram {
    background: url(image/icon-event-instagram.png) no-repeat center center;
    width: 35px;
    height: 34px;
}
span.icon-twitter {
    background: url(image/icon-event-twitter.png) no-repeat center center;
    width: 41px;
    height: 34px;
}