.ribbon-dark-blue {
  background-color: $default-theme-secondary-color;
  color: white;
}

.ribbon-dark-blue h1,
.ribbon-dark-blue h2,
.ribbon-dark-blue h3,
.ribbon-dark-blue h4,
.ribbon-dark-blue h5,
.ribbon-dark-blue h6 {
  color: white;
}
