.space-top-half {
  margin-top: 12px !important;
}

.space-top {
  margin-top: 24px !important;
}

.space-top-2x {
  margin-top: 48px !important;
}

.space-top-3x {
  margin-top: 72px !important;
}

.space-bottom-half {
  margin-bottom: 12px !important;
}

.space-bottom {
  margin-bottom: 24px !important;
}

.space-bottom-2x {
  margin-bottom: 48px !important;
}

.space-bottom-3x {
  margin-bottom: 72px !important;
}

.padding-top-half {
  padding-top: 12px !important;
}

.padding-top {
  padding-top: 24px !important;
}

.padding-top-2x {
  padding-top: 48px !important;
}

.padding-top-3x {
  padding-top: 72px !important;
}

.padding-bottom-half {
  padding-bottom: 12px !important;
}

.padding-bottom {
  padding-bottom: 24px !important;
}

.padding-bottom-2x {
  padding-bottom: 48px !important;
}

.padding-bottom-3x {
  padding-bottom: 72px !important;
}

@media screen and (max-width: 768px) {
  .space-top {
    margin-top: 16px !important;
  }
  .space-top-2x {
    margin-top: 36px !important;
  }
  .space-top-3x {
    margin-top: 48px !important;
  }
  .space-bottom {
    margin-bottom: 16px !important;
  }
  .space-bottom-2x {
    margin-bottom: 36px !important;
  }
  .space-bottom-3x {
    margin-bottom: 48px !important;
  }
  .padding-top {
    padding-top: 16px !important;
  }
  .padding-top-2x {
    padding-top: 36px !important;
  }
  .padding-top-3x {
    padding-top: 48px !important;
  }
  .padding-bottom {
    padding-bottom: 16px !important;
  }
  .padding-bottom-2x {
    padding-bottom: 36px !important;
  }
  .padding-bottom-3x {
    padding-bottom: 48px !important;
  }
}

.space-top-none {
  margin-top: 0 !important;
}

.space-bottom-none {
  margin-bottom: 0 !important;
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.page-edit .edit-link {
  display: inline-block;
  margin-top: 24px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  .tablet-center {
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) {
  .mobile-center {
    text-align: center !important;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.padding-top-1x {
  padding-top: 1rem;
}

.padding-top-2x {
  padding-top: 2rem;
}

.padding-top-3x {
  padding-top: 3rem;
}

.padding-bottom-1x {
  padding-bottom: 1rem;
}

.padding-bottom-2x {
  padding-bottom: 2rem;
}

.padding-bottom-3x {
  padding-bottom: 3rem;
}

.space-top-quarter {
  margin-top: 6px !important;
}

.space-bottom-half {
  margin-bottom: 12px !important;
}

.space-bottom-half {
  margin-bottom: 12px !important;
}

/* Fixed widgets */
.fix-to-bottom {
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 5555;
}

.fullwidth.fix-to-bottom {
  left: 0;
  width: 100%;
}

/* Fix parallax from old Ace theme concept */
.isInView {
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.visibility-hidden {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.border-top,
.border-bottom-grey {
  border-top: 1px solid #ddd;
}

.border-left-grey {
  border-left: 1px solid #ddd;
}

.border-right-grey {
  border-right: 1px solid #ddd;
}

.border-bottom,
.border-bottom-grey {
  border-bottom: 1px solid #ddd;
}

.no-border,
.form-control.no-border {
  border-width: 0px !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.no-margin {
  margin: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.auto-size {
  max-width: 100% !important;
  width: auto;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.display-inline,
.form-control.display-inline {
  display: inline-block !important;
  width: auto !important; // Override fullwidth form elements
}

.align-center {
  text-align: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-space-between {
  justify-content: space-between;
}

.border-top-black-1px {
  border-top: 1px solid #2B2B2B !important;
}

.border-bottom-black-1px {
  border-bottom: 1px solid #2B2B2B !important;
}

.border-top-grey-1px {
  border-top: 1px solid #ccc !important;
}

.border-bottom-grey-1px {
  border-bottom: 1px solid #ccc !important;
}

.no-wrap {
  white-space: nowrap;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

.no-space-left {
  margin-left: 0;
}

.no-space-right{
  margin-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.space-left-half {
  margin-left: 12px
}

.space-left {
  margin-left: 24px
}

/* TODO: This is just an alias for text-left */
.text-align-left {
  text-align: left;
}

.mask-tab-list > ul[role=tablist] {
  display: none;
}

.auto-height {
  max-height: none !important;
}

.position-absolute {
  position: absolute !important;
}

.display-flex {
  display: flex;
}

.display-flex.start {
  align-items: baseline;
  justify-content: start;
}

.display-flex.stretch {
  align-items: stretch;
  justify-content: stretch;
}

.display-flex.stretch > * {
  flex: 1;
}

.display-flex.center {
  align-items: center;
  justify-content: center;
}

.display-flex.stretch > * {
  flex: 1;
}

/* Utility styles */
.max-width-100 {
  max-width: 100%;
}

.max-width-50 {
  max-width: 50%;
}

.max-width-33 {
  max-width: 33.333%;
}

.max-width-25 {
  max-width: 25%;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.truncate {
  display: block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
