/* Top menu sizes */
$top-menu-icon-font-size: 22px;
$top-nav-bar-height: 60px;
$action-button-font-size: 22px;
$burger-menu-width: 30px;
$top-menu-text-size: 0.75rem;

/* Side nav bar sizes */
$side-nav-bar-icons-size: 18px;
